:root {
    --red: #E71F1F;
    --white: #FFFFFF;
    --darkBlue: #0000FF;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-family: 'Oswald', sans-serif;
    font-size: 62.5%;
}

.delete {
    display: none;
}

h1 {
    width: 270px;
    height: 60px;
    margin: 0 auto;
    margin-top: 14px;
    background-color: var(--red);
    border-radius: 7px;
    border: solid 3px black;
}

h1 {
    font-size: 3.5rem;
    color: var(--white);
    text-align: center;
    font-weight: bold;
}

/* main {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    justify-content: center;
} */

section {
    width: auto;
    height: auto;
    margin-top: 40px;
    margin-inline: 20px;
}

h2 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    font-weight: 500;
    text-align: center;
}

.cards-container {
    display: flex;
    width: auto;
    height: auto;
    gap: 15px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}

.card-container {
    display: inline-block;
    width: 200px;
    height: auto;
    /* margin: 0 15px; */
}

h3 {
    margin-top: 0;
    font-size: 2rem;
    font-weight: 400;
}

img {
    border-radius: 7px;
}

.card-image {
    height: 200px;
}

#secundary-title {
    margin-block: 35px;
    text-align: center;
    font-size: 2.9rem;
}

#id-image {
    display: block;
    width: 75%;
    margin: 0 auto;
}

#id-information p {
    margin-block: 32px;
    margin-block-end: 50px;
    font-size: 2rem;
    font-weight: 300;
    text-align: justify;
}

a {
    text-decoration: none;
    color: var(--darkBlue);
}

.relationship-list, .relationship-list--title {
    margin-block-end: 25px;
}

.relationship-container h3, .card-container h3 {
    margin-block-end: 8px;
    font-weight: 300;
    text-align: center;
}

footer {
    height: 100px;
    margin-top: 50px;
    background-color: var(--red);
    text-align: center;
    
}

footer span {
    display: inline-block;
    margin-block-start: 35px;
    color: var(--white);
    font-size: 2rem;
    font-weight: 400;
}